<div style="font-size: 72px; font-weight: 600; text-align:center; width: 100%; margin-top: 50px; color: green">
  {{ message }}
</div>
<div style="font-size: 30px; font-weight: 600; text-align:center; width: 100%; margin-top: 50px; color: black">
  Thank you for testing my app! <br /> Have a nice day!!!!!!
  <div style="margin-top: 50px">
    <img src="/flower-svgrepo-com.svg" style="width: 100px;" />
  </div>
</div>